// suggeted accounts CSS
.wrapper {
    border-top: 1px solid #e3e3e4;
    padding: 16px 0;
}

.heading {
    font-size: 1.4rem;
    padding: 0 8px;
    margin-bottom: 8px;
    font-weight: 600;
    letter-spacing: 0.093px;
    line-height: 1.8rem;
    color: rgba(22, 24, 35, 0.75);
    user-select: none;
}

// account item CSS
.account-item {
    padding: 8px;

    &:hover {
        background-color: rgba(22,24,35,0.2);
        transition: all ease-out 0.2s;
    }
}

.account-item-link {
    display: flex;
    width: 100%;
    align-items: center;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.account-item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    margin-top: 0;
    color: rgb(22, 24, 35);
    line-height: 1;
}

.check-icon {
    font-size: 1.4rem;
    margin-left: 4px;
    color: #20d5ec;
}

.username {
    font-size: 1.2rem;
    color: #161823bf;
}

.see-more {
    color: var(--primary-color);
    font-size: 1.4rem;
    padding: 8px;
    font-weight: 600;
    cursor: pointer;
}