// declare variables
$userAvatarSize: 32px;

.header {
    height: var(--header-height);
    box-shadow: 0 1px 1px rgba(0 0 0 / 12%);
    background-color: var(--white-color);
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
}

.inner {
    height: 100%;
    padding: 0 var(--header-layout-horizontal-space);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--inner-header-width);
    margin: 0 auto;
}

.header__logo a {
    display: flex;
    align-items: center;
}

//options section CSS
.header__options {
    display: flex;
    align-items: center;
}

a.btnUpload {
    color: var(--text-color);
    padding: 0 16px;
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    font-weight: 600;

    & > span > svg {
        display: inline-block;
        margin-right: 8px;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-color: rgba(22, 24, 35, 0.12);
    }
}

.more-btn {
    display: block;
    width: 20px;
    font-size: 2rem;
    height: 20px;
    color: var(--text-color);
    font-weight: unset;
    cursor: pointer;
    margin-left: 34px;
    background-color: transparent;
}

// CSS header khi đã login
.option-btn {
    background-color: transparent;
    cursor: pointer;
    font-size: 2.2rem;
    color: rgb(22, 24, 35);
    padding: 4px 12px;
    margin-right: 12px;
}

.user-login-avatar {
    width: $userAvatarSize;
    height: $userAvatarSize;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

// icon header CSS
.btn-inbox,
.btn-message {
    background-color: transparent;
    margin-right: 32px;
    cursor: pointer;
    font-size: 1.4rem;
    display: inline-block;
    color: rgb(22, 24, 35);
    position: relative;
}

.inbox-count {
    position: absolute;
    top: -4px;
    right: -4px; // chưa biết cách tối ưu
    padding: 2px 5px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 400;
}
