.header {
    height: var(--header-height);
    box-shadow: 0 1px 1px rgba(0 0 0 / 12%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.inner {
    height: 100%;
    width: var(--inner-header-width);
    background-color: grey;
    margin: 0 auto;
}
