// declare variables
$search-box-color: #f1f1f2;
$search-box-border: rgba(22, 24, 35, 0.12);
$search-box-width: 400px;
$search-height: 46px;
$top-space: 10px;
$userAvatarSize: 32px;

.header {
    height: var(--header-height);
    box-shadow: 0 1px 1px rgba(0 0 0 / 12%);
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

.inner {
    height: 100%;
    padding: 0 var(--header-layout-horizontal-space);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--inner-header-width);
    margin: 0 auto;
}

.header__logo a {
    display: flex;
    align-items: center;
}

.header__search {
    background-color: $search-box-color;
    height: $search-height;
    width: $search-box-width;
    padding: 0 0 0 16px;
    border-radius: 92px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    &-input {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.1rem;
        letter-spacing: 0.03px;
        background-color: transparent;
        padding: 12px 0;
        color: var(--black);
        caret-color: var(--primary-color);
        flex: 1;
    }

    &:hover,
    &:focus-within {
        border: solid 2px $search-box-border;
    }

    &:hover .btn-search {
        background-color: rgba(0, 0, 0, 0.06);
        color: rgba(22, 24, 35, 0.75);
    }
}

.search {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.search-result {
    width: $search-box-width;
    margin-right: -36px;
}

.btn-search {
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 60px;
    cursor: pointer;
    background: transparent;
    padding: 11px 16px 11px 12px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    color: $search-box-border;

    &:hover {
        background-color: rgba(20, 24, 35, 0.04);
    }

    &::before {
        content: '';
        width: 1px;
        height: calc($search-height - $top-space * 2);
        background-color: $search-box-border;
        position: absolute;
        left: 0;
    }
}

.loading,
.btn-clear-input {
    font-size: 1.6rem;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #a7a7ab;
}

.search:has(> .header__search-input:not(:placeholder-shown)) ~ .btn-search {
    color: rgba(22, 24, 35, 0.75);
}

// search-result CSS
.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 6px 12px;
}

//options section CSS
.header__options {
    display: flex;
    align-items: center;
}

a.btnUpload {
    color: var(--text-color);
    padding: 0 16px;
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    font-weight: 600;

    & > span > svg {
        display: inline-block;
        margin-right: 8px;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-color: rgba(22, 24, 35, 0.12);
    }
}

.more-btn {
    display: block;
    width: 20px;
    font-size: 2rem;
    height: 20px;
    color: var(--text-color);
    font-weight: unset;
    cursor: pointer;
    margin-left: 8px;
    background-color: transparent;
}

// CSS header khi đã login
.option-btn {
    background-color: transparent;
    cursor: pointer;
    font-size: 2.2rem;
    color: rgb(22, 24, 35);
    padding: 4px 12px;
    margin-right: 12px;
}

.user-login-avatar {
    width: $userAvatarSize;
    height: $userAvatarSize;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
