@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,500;1,600;1,700&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    // declare variables
    --primary-color: #fe2c55;
    --text-color: #161823;
    --white-color: #fff;
    --header-height: 60px;
    --inner-header-width: 1150px;
}

html {
    font-size: 62.5%;
}

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
