//menu
.menu-list {
    min-width: 224px;
    user-select: none;
    cursor: pointer;
}

.menu-popper {
    padding: 8px 0;
}

// fix cứng header của menu đa cấp 
.menu-popper:has(.header) .header + .menu-item {
    margin-top: 30px;
}

.menu-item {
    display: block;
    width: 100%;
    text-align: left;
    color: rgb(22, 24, 35);
    padding: 10px 8px 10px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.1rem;
    letter-spacing: 0.03px;

    & > svg {
        width: 26px;
        font-size: 2rem;
    }

    & + .menu-item {
        margin-left: 0;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

}

// menu header CSS
.header {
    display: flex;
    flex-shrink: 0;
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: -8px;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.1rem;
    letter-spacing: 0.03px;
    cursor: default;
    background-color: var(--white-color);
}

.header-back {
    position: absolute;
    width: 50px;
    height: 100%;
    left: 0;
    font-size: 2rem;
    line-height: 1.8rem;
    font-style: italic;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
