.wrapper {
    min-width: 224px;
    min-height: 100px;
    padding-top: 8px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgb(0 0 0 /12%);
    border-radius: 8px;
    max-height: min((100vh - 96px) - 60px, 734px);
    overflow: auto;
}

// CSS nâng cao
.wrapper a:has(svg[data-icon|='right-from-bracket']) {
    border-top: 1px solid rgba(22,24,35,0.12);
}
